.box {
  width: 500px;
  height: 400px;
  background: gray;
  padding: 60px;
}

.flex {
  display: flex;
  border-bottom: 2px solid #fff;
  padding: 30px;
}

input {
  padding: 5px 10px;
}

select {
  padding: 6px;
}

.submit {
  padding: 30px;
  border-bottom: 2px solid #fff;
}

.button {
  padding: 8px 30px;
  border: 1px solid black;
  color: #fff;
  background: rgb(20, 20, 194);
  border-radius: 4px;
  cursor: pointer;
}

.submit-2 {
  padding: 30px;
  text-align: right;
}

.button-2 {
  padding: 8px 30px;
  border: 1px solid black;
  color: #fff;
  background: #000;
  border-radius: 4px;
  cursor: pointer;

}

.hiza {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}